.container_profil {
  height: 100%;

  margin-top: 1rem;
  align-items: center;
  //   background-image: url("../../../assets/images/schematic.svg");
  //   background-repeat: no-repeat;
  //   background-position: bottom center;
  //   background-size: cover;
  .nav_profil_action {
    width: 100%;

    display: flex;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.278);
    a {
      flex-grow: 1;
      display: block;
      text-align: center;
      font-weight: 700;
      color: black;
      padding: 1rem 1.5rem;
      @media (max-width: 578px) {
        padding: 1rem 0.5rem;
        span {
          display: none;
        }
      }
      border-radius: 10px;
      transition: 0.5s all ease-in-out;
      &:hover {
        background-color: #3b82f6;
        color: white;
      }
    }
  }
}
.sub_header_profil_action {
  .sub_header_container {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
  }
}
.router-link-active {
  background-color: #3b82f6;
  color: white !important;
}

.conf_dialog_delete_account {
  max-width: 400px;
}
