.container_main_all {
  position: absolute;
  z-index: 50000;
  user-select: none;
  //   pointer-events: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  .container_overflow_signin {
    position: absolute;
    background-color: #0b16295d;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }
  .container_main_signin {
    position: absolute;
    max-width: 1200px;
    width: 100%;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    display: flex;
    z-index: 99999;
    .close {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #22c55e;
      //   border-color: #22c55e;
      &:hover {
        background-color: #22c55e;
        color: white;
        cursor: pointer;
      }
    }
    .separator {
      margin: 0 1rem;
      padding: 0 0.1rem;
      background-color: #22c55e49;
    }
    .info_signin_container {
      display: flex;
      flex-direction: column;
      .info_signin_picture {
        max-width: 350px;
        width: 100%;
        margin: 1rem auto;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .info_signin_container,
    .container_form_signin {
      width: 50%;
      //   flex-wrap: wrap;
      @media (max-width: 576px) {
        width: 100%;
        flex-wrap: wrap-reverse;
        .separator {
          display: none;
        }
      }
      .title_signin {
        font-weight: bold;
        font-size: 1.4rem;
        margin: 1rem 0;
      }
      .container_button_signin {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
      }
    }

    .container_form_signin {
      form {
        .container_input {
          display: flex;
          flex-direction: column;
          margin: 0.5rem 0;
        }
      }
    }
    @media (max-width: 576px) {
      height: 100%;
      border-radius: 0;
      flex-wrap: wrap-reverse;
    }
  }
}
