<section class="signup_container">
  <div class="container_form_signup container">
    <h2 *ngIf="!complete">Créer un compte</h2>
    <div *ngIf="complete" class="signup_complete">
      <h2>Inscription Réussie bienvenu !</h2>
      <img
        src="../../../assets/images/key_immo.svg"
        alt="clée avec logo immohabitat"
      />

      <h5>Redirection sur la page d'accueil dans quelques secondes...</h5>
    </div>
    <form
      *ngIf="!complete"
      [formGroup]="formSignup"
      (ngSubmit)="onSubmitSignup()"
      class="form_signup"
    >
      <div class="container_input">
        <label htmlFor="firstname">Prénom</label>
        <input
          formControlName="firstname"
          type="text"
          pInputText
          id="firstname"
          aria-describedby="firstname-help"
        />
        <small
          id="firstname-help"
          [ngClass]="{ errors_form: firstname?.invalid && firstname?.touched }"
          >Entrez votre prénom *</small
        >
      </div>
      <div class="container_input">
        <label htmlFor="lastname">Nom</label>
        <input
          formControlName="lastname"
          type="text"
          pInputText
          id="lastname"
          aria-describedby="lastname-help"
        />

        <small
          id="lastname-help"
          [ngClass]="{ errors_form: lastname?.invalid && lastname?.touched }"
          >Entrez votre nom *</small
        >
      </div>
      <div class="container_input">
        <label htmlFor="email">Email</label>
        <input
          formControlName="email"
          type="email"
          pInputText
          id="email"
          aria-describedby="email-help"
        />
        <small
          id="email-help"
          [ngClass]="{ errors_form: email?.invalid && email?.touched }"
        >
          <p *ngIf="email?.errors?.['email']">
            Veuillez indiquer un email valide
          </p>
          <p *ngIf="!email?.errors?.['email']">Entrez votre email *</p>
        </small>
      </div>
      <div class="container_input">
        <label htmlFor="password">Mot de passe</label>
        <input
          pattern="(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}"
          formControlName="password"
          type="password"
          pInputText
          id="password"
          aria-describedby="password-help"
        />
        <small
          id="password-help"
          [ngClass]="{ errors_form: password?.invalid && password?.touched }"
          >Le mot de passe doit contenir 8 caractères, une majuscule, un chiffre
          et un caractère spécial.</small
        >
      </div>

      <div class="global_error" *ngIf="globalError">
        <p>{{ globalError }}</p>
      </div>

      <div class="conditon_term_signup">
        <p>
          J'accepte
          <a class="condition" [routerLink]="['/']"
            >les Conditions d'utilisation</a
          >
          et
          <a class="condition" [routerLink]="['/']"
            >la politique de vie privée </a
          >.
        </p>
      </div>

      <div class="container_button_signup">
        <button
          pButton
          pRipple
          label="Créer mon compte"
          class="p-button-success"
        ></button>
      </div>
    </form>
  </div>
</section>
