.hero_property_container {
  .hero_property {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  background-color: #619dfcec;
  //   background-color: #24ce62;
  min-height: 80px;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;

  .container_hero_info {
    display: flex;
    flex-direction: column;
    span {
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
  .container_hero_price {
    span {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

.gallery_container_m {
  border-radius: 1rem;
  overflow: hidden;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));

  .gallery_image_m {
    img {
      max-width: 100%;
      height: 100%;
    }
  }
}
