<section class="property_container">
  <div class="hero_property_container">
    <div class="container hero_property">
      <div class="container_hero_info">
        <span>Type de bien: {{ property.type.title }}</span>
        <span
          >lieu: {{ property.location.city.code }},
          {{ property.location.city.localite }}
        </span>
      </div>
      <div class="container_hero_price">
        <span
          >{{ property.price | currency : "EUR" : "symbol" : "1.0-2" }}
        </span>
      </div>

      <app-favoris
        [propertyId]="property.id"
        class="favoris_property"
      ></app-favoris>
    </div>
  </div>
  <div class="container">
    <div class="container_picture">
      <div class="picture_central">
        <div *ngIf="images.length > 0" class="picture_central_counter">
          <span> 1/{{ images.length }} </span>
          <img src="../../../assets/images/screen.svg" alt="screen + logo" />
        </div>
        <ng-template #notImage>
          <img
            src="../../../assets/images/schematic.svg"
            alt="logo"
            (click)="imageClick(0)"
          />
        </ng-template>
        <img
          *ngIf="images.length > 0; else notImage"
          [src]="property.images[0].path"
          [alt]="property.title"
          (click)="imageClick(0)"
        />
      </div>
      <div *ngIf="images" class="container_thumb">
        <ng-container *ngFor="let image of images; let index = index">
          <div
            *ngIf="index > 0 && index <= 3"
            class="property_thumb_image"
            (click)="imageClick(index)"
            [ngStyle]="{ 'background-image': 'url(' + image.path + ')' }"
          ></div>
        </ng-container>
      </div>
    </div>
    <div class="container action_container_property">
      <div class="div_action_property">
        <p (click)="printProperty()">Imprimer la fiche</p>
      </div>
    </div>
    <div class="container_slider_property">
      <p-galleria
        class="gallery"
        [value]="images"
        [(visible)]="displayCustom"
        [(activeIndex)]="activeIndex"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '900px' }"
        [numVisible]="2"
        [circular]="true"
        [fullScreen]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
      >
        <ng-template class="gallery_img" pTemplate="item" let-item>
          <img [src]="item.path" style="width: 100%; display: block" />
        </ng-template>
      </p-galleria>
    </div>
  </div>
  <section class="info_property_container container view-on-print">
    <article class="info_property_description">
      <h2>Description</h2>
      <h3>{{ property.title }}</h3>

      <p>
        {{ property.description }}
      </p>
    </article>
    <article class="info_property_interior">
      <h2>Intérieur</h2>
      <div>
        <span class="title_property_span_title">Etages:</span>
        <span class="title_property_span_response"> {{ property.floor }} </span>
      </div>
      <div>
        <span class="title_property_span_title">Pièces:</span>
        <span class="title_property_span_response">{{ property.room }} </span>
      </div>

      <div>
        <span class="title_property_span_title">Chambres:</span>
        <span class="title_property_span_response"
          >{{ property.bedrooms }}
        </span>
      </div>
      <div>
        <span class="title_property_span_title">Salles de bains:</span>
        <span class="title_property_span_response"
          >{{ property.bathrooms }}
        </span>
      </div>

      <div>
        <span class="title_property_span_title"> salon:</span>
        <span class="title_property_span_response"
          >{{ property.livingRoom | boolean }}
        </span>
      </div>

      <div>
        <span class="title_property_span_title"> Salle à manger:</span>
        <span class="title_property_span_response"
          >{{ property.diningRoom | boolean }}
        </span>
      </div>

      <div>
        <span class="title_property_span_title"> type de cuisine:</span>
        <span class="title_property_span_response"
          >{{ property.kitchenType }}
        </span>
      </div>

      <div>
        <span class="title_property_span_title"> Balcon:</span>
        <span class="title_property_span_response"
          >{{ property.balcony | boolean }}
        </span>
      </div>
    </article>

    <article class="info_property_exterior">
      <h2>Extérieur</h2>
      <div>
        <span class="title_property_span_title">Piscine:</span>
        <span class="title_property_span_response"
          >{{ property.pool | boolean }}
        </span>
      </div>
      <div>
        <span class="title_property_span_title">Terrasse:</span>
        <span class="title_property_span_response"
          >{{ property.terrace | boolean }}
        </span>
      </div>
      <div>
        <span class="title_property_span_title">Parking:</span>
        <span class="title_property_span_response"
          >{{ property.parking | boolean }}
        </span>
      </div>
      <div>
        <span class="title_property_span_title">Garage:</span>
        <span class="title_property_span_response"
          >{{ property.garage | boolean }}
        </span>
      </div>
      <div>
        <span class="title_property_span_title">salon:</span>
        <span class="title_property_span_response"
          >{{ property.livingRoom | boolean }}
        </span>
      </div>
      <div>
        <span class="title_property_span_title">jardin/cour:</span>
        <span class="title_property_span_response"
          >{{ property.courtyard | boolean }}
        </span>
      </div>
    </article>
  </section>

  <section class="info_property_container container hide-on-print">
    <p-accordion class="w-full" [activeIndex]="0">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <span class="vertical-align-middle title_accordeon"
              >Description</span
            >
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <h2>{{ property.title }}</h2>
          <p class="m-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <span class="vertical-align-middle title_accordeon">Intérieur</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <article class="info_property_interior interior_bg">
            <div>
              <span class="title_property_span_title">Etages:</span>
              <span class="title_property_span_response">
                {{ property.floor }}
              </span>
            </div>
            <div>
              <span class="title_property_span_title">Pièces:</span>
              <span class="title_property_span_response"
                >{{ property.room }}
              </span>
            </div>

            <div>
              <span class="title_property_span_title">Chambres:</span>
              <span class="title_property_span_response"
                >{{ property.bedrooms }}
              </span>
            </div>
            <div>
              <span class="title_property_span_title">Salles de bains:</span>
              <span class="title_property_span_response"
                >{{ property.bathrooms }}
              </span>
            </div>

            <div>
              <span class="title_property_span_title"> salon:</span>
              <span class="title_property_span_response"
                >{{ property.livingRoom | boolean }}
              </span>
            </div>

            <div>
              <span class="title_property_span_title"> Salle à manger:</span>
              <span class="title_property_span_response"
                >{{ property.diningRoom | boolean }}
              </span>
            </div>

            <div>
              <span class="title_property_span_title"> type de cuisine:</span>
              <span class="title_property_span_response"
                >{{ property.kitchenType }}
              </span>
            </div>

            <div>
              <span class="title_property_span_title"> Balcon:</span>
              <span class="title_property_span_response"
                >{{ property.balcony | boolean }}
              </span>
            </div>
          </article>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <span class="vertical-align-middle title_accordeon">Extérieur</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <article class="info_property_exterior exterior_bg">
            <div>
              <span class="title_property_span_title">Piscine:</span>
              <span class="title_property_span_response"
                >{{ property.pool | boolean }}
              </span>
            </div>
            <div>
              <span class="title_property_span_title">Terrasse:</span>
              <span class="title_property_span_response"
                >{{ property.terrace | boolean }}
              </span>
            </div>
            <div>
              <span class="title_property_span_title">Parking:</span>
              <span class="title_property_span_response"
                >{{ property.parking | boolean }}
              </span>
            </div>
            <div>
              <span class="title_property_span_title">Garage:</span>
              <span class="title_property_span_response"
                >{{ property.garage | boolean }}
              </span>
            </div>
            <div>
              <span class="title_property_span_title">salon:</span>
              <span class="title_property_span_response"
                >{{ property.livingRoom | boolean }}
              </span>
            </div>
            <div>
              <span class="title_property_span_title">jardin/cour:</span>
              <span class="title_property_span_response"
                >{{ property.courtyard | boolean }}
              </span>
            </div>
          </article>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </section>
</section>
