<section class="section_form_profil_container container">
  <p-toast position="top-center" key="tc"></p-toast>
  <h2>Modifier mon mot de passe</h2>

  <form
    [formGroup]="formUpdate"
    (ngSubmit)="onSubmitUpdate()"
    class="form_signup"
  >
    <div class="container_input">
      <label htmlFor="password">Nouveau mot de passe</label>
      <input
        pattern="(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}"
        formControlName="password"
        type="password"
        pInputText
        id="password"
        aria-describedby="password-help"
      />
      <small
        id="password-help"
        [ngClass]="{ errors_form: password?.invalid && password?.touched }"
      >
        <small
          id="password-help"
          [ngClass]="{ errors_form: password?.invalid && password?.touched }"
          >Le mot de passe doit contenir 8 caractères, une majuscule, un chiffre
          et un caractère spécial.</small
        >
      </small>
    </div>

    <div class="container_input">
      <label htmlFor="confirm-password">Confirmation du mot de passe</label>
      <input
        formControlName="confirmPassword"
        type="password"
        pInputText
        id="confirm-password"
        aria-describedby="confirm-password-help"
      />
      <small
        id="confirm-password-help"
        [ngClass]="{
          errors_form: confirmPassword?.invalid && confirmPassword?.touched
        }"
      >
        <small
          *ngIf="confirmPassword?.invalid && confirmPassword?.touched"
          id="confirm-password-help"
          >le mot de passe ne correspond pas</small
        >
      </small>
    </div>

    <div class="global_error" *ngIf="globalError">
      <p>{{ globalError }}</p>
    </div>

    <div class="container_button_signup">
      <button
        pButton
        pRipple
        label="Modifier mon mot de passe"
        class="p-button-success"
      ></button>
    </div>
  </form>
</section>
