<div
  (click)="changeFavorite()"
  class="favoris_container"
  [ngStyle]="{ 'max-width': maxWidth + 'px', height: height + 'px' }"
>
  <!--mettre en place le user pour voir si like ou pas avec un observable-->
  <ng-template #isNotFavorite>
    <img
      src="../../../assets/images/dislike.svg"
      alt="coeur dans une maison pas en couleur"
    />
  </ng-template>
  <img
    *ngIf="isFavorite$ | async; else isNotFavorite"
    src="../../../assets/images/like.svg"
    alt="coeur dans une maison"
  />
</div>
