.title_step {
  margin: 1rem 0;
}
.flex_grow {
  flex-grow: 1;
}
.input_immo_flex_col_db_input {
  display: flex;
}
.input_immo_flex_col {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  label {
    padding: 0.2rem 0;
  }
}

.lm {
  margin-left: 0.5rem;
}

.rm {
  margin-right: 0.5rem;
}

.stepper_create_update {
  max-width: 200px;
  width: 100%;
  margin-right: 20px;
  border-right: 1px solid green;
  .p-steps.p-component ul {
    flex-direction: column !important;
    li {
      margin: 1rem 0;
      a {
        background: transparent !important;
      }
    }
  }
}
.container_action_next {
  display: flex;
  margin: 1rem 0;
  justify-content: flex-end;
}

.input_immo_drop {
  display: flex;
  flex-direction: column;
  p-dropdown {
    width: 100% !important;
    .p-dropdown {
      width: 100% !important;
    }
  }
}

.input_group_immo_flex_group {
  display: flex;

  p-autoComplete {
  }
}

.container_type_s_r {
  display: flex;
  justify-content: center;
  margin: 1rem;
  .immo_cube_s {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.2rem;
    align-items: center;
    cursor: pointer;
    max-width: 150px;
    margin: 0 0.5rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.16);
    height: 100px;
    h4 {
      color: #22c55e;
      margin: 0.2rem 0;
    }
    svg {
      max-width: 80px;
      max-height: 80px;
    }
  }
}
.rent_immo_price {
  font-weight: bold;
  font-size: 1.1rem;
}
.isSelected {
  background-color: #22c55e;
  h4 {
    color: white !important;
  }
  svg {
    path {
      fill: white;
    }
  }
}
.immo_boolean_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .immo_separator_boolean {
    margin: 0.5rem 0;
  }
}
p-calendar {
  span {
    width: 100%;
  }
}

.immo_title_option {
  margin: 1rem 0;
}
.immo_file_header {
  display: flex;
  align-items: center;
  ._immo_counter_file {
    height: 50px;
    width: 50px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 4px #22c55e;
    font-weight: bold;
  }
}

.immo_step_button_file_add {
  min-width: 100px;
  max-width: min-content;
  width: 100%;
  min-height: 100px;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  border: #22c55e 8px inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-width: 50px;
  }
  span {
    font-size: 0.7rem;
    background-color: red;
    font-weight: bold;
  }
}
.p-fileupload-content {
  .p-fileupload-files .ng-star-inserted {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 10px;
    .file_container_action {
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      img {
        max-width: 100%;
        object-fit: cover;
        max-height: 100%;
      }
      button {
        position: absolute;
        background-color: red;
        border: none;
        right: 0;

        top: 0;
      }
    }
  }
}
